@charset "UTF-8";
@import "reset.css";
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.entTitle {
	font-family: 'MinSans-Medium';
	font-size: 50px;
	color: white;
	height: 300px;
	text-align: center;
	background-image: url(../img/titleimg.jpg);
	background-size: cover;
	position: relative;
}

.entTitle p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.entSettingRoot p {
	font-family: 'MinSans-Medium';
	text-decoration: none;
	color: #4b4b4b;
}

.entSettingWrap {
	padding: 0px 300px 0px 300px;
}

.entSettingRoot {
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 30px;
	border-bottom: 1px solid #c4c4c4;
}

.entSettingRoot a {
	font-family: 'MinSans-Medium';
	text-decoration: none;
	color: #4b4b4b;
}

.entSettingWrap {
	font-family: 'MinSans-Medium';
}

.plan-info {
	font-size: 20px;
	text-align: center;
	margin: 15px 0px 15px 0px;
}

.entSettingWrap table {
	width: 420px;
	height: 100px;
	background-color: #FBFAFA;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.entSettingWrap table td {
	padding: 15px;
}

button {
	background-color: white;
	color: skyblue;
	border: 2px solid skyblue;
	border-radius: 5px;
}

button:hover {
	background-color: skyblue;
	color: white;
}